{% extends "customer/cust_master.html" %} {% load static %} {% block content %}

<div class="container-fluid login-container">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-2"></div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="form-login">
                <br>
                <h3 class="login-head">Login</h3><br>
                <p style="color: red;">{{ error }}</p>
                <form action="{% url 'customer:login' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" id="username" name="user_name" class="form-control input-sm chat-input" placeholder="username" />
                    </br>
                    <input type="password" id="userpassword" name="passwd" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                    <div class="wrapper">
                        <span class="group-btn">
      
                            <!-- <a href="#" class="btn btn-light btn-md">login <i class="fa fa-sign-in"></i></a> -->
                            <button class="btn btn-md" type="submit" style="background-color: #00796b; color: white;" onclick="return validate_login()">
                                login <i class="fa fa-sign-in"></i>
                            </button>
                        </span><br>
                        <span>
                            <br>
                            <a href="/ecom/changepassword"><label for="" class="">Forgot password?</label></a><br>
                            <a href="{% url 'customer:signup' %}"><label for="" class="">Create an account?</label></a>
                        </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-lg-4 col-md-3 col-sm-2"></div>
    </div>
</div>
{% endblock %}
<!-- 
</body>

</html> -->