{% extends "customer/cust_master.html" %} {% load static %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-2"></div>
        <div class="col-lg-6 col-md-8 col-sm-8">
            <div class="form-login">
                <br>
                <!-- <h5 class='alert alert-success' id='msg'>Product Added Succesfully</h5> -->
                <h3 class="login-head">Signup</h3><br>
                <span style="color: green;">{{msg}}</span>
                <form action="{% url 'customer:signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="usrtyp">User Type</label>
                        <select name="user_type" class="form-control" id="usrtyp" onchange="usertypehide()">
                                <option  selected value="customer">Customer</option>
                                <option value="reseller">Reseller</option>
                            </select>
                    </div>
                    <!--Reseller data reading -->
                    <div id="resel" class="reseldata" style="display: none;">
                        <div class="form-group">
                            <label for="Rname">Reseller Company Name</label>
                            <input id="Rname" class="form-control input-sm chat-input" name="cmp_name" placeholder="Enter Reseller company name" />
                        </div>
                        <div class="form-group">
                            <label for="Rcompanyid">Company registration id</label>
                            <input id="Rcompanyid" class="form-control input-sm chat-input" name="cmp_reg" placeholder="Enter Reseller company registration id" />
                        </div>
                    </div>
                    <!-- end reseller data  -->
                    <!--Customer data reading -->
                    <div id="custom">
                        <div class="form-row form-group">
                            <div class="col">
                                <label for="">First name</label>
                                <input type="text" class="form-control" id="fname" name="first_name" placeholder="First name">
                            </div>
                            <div class="col">
                                <label for="">Last name (optional)</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="" class="">gender: </label>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="male" value="male" name="gender" class="form-check-input" checked>
                                <label for="male" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="female" name="gender" value="female" class="form-check-input">
                                <label for="female" class="form-check-label">Female</label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="dob">Date of Birth</label>
                            <input type="date" id="dob" name="dob" class="form-control">
                        </div>
                        <!-- end Customer data  -->
                    </div>
                    <div class="form-group ">
                        <label for="adrs">Address</label>
                        <textarea name="addr" id="adrs" cols="30" rows="3" class="form-control" id="adrs"></textarea>
                    </div>
                    <div class="form-group ">
                        <label for="cntry">Country</label>
                        <select name="country" class="form-control" id="cntry">
                                <option  disabled selected value="">Select your Country</option>
                                <option>India</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="">mobile</label>
                        <input id="userMobile" class="form-control input-sm chat-input" name="mobile" placeholder="Enter mobile number" />
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" id="userEmail" class="form-control input-sm chat-input" placeholder="Enter your Email" name="email" />
                        <span id="s_email"></span>
                    </div>
                    <div class="form-group">
                        <h6 id="pswerror" name="err" style="color: brown;"></h6>
                        <label for="">Password</label>
                        <input type="password" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="password" />
                    </div>
                    <div class="form-group">
                        <label for="">Confirm password</label>
                        <input type="password" id="cnfPassword" class="form-control input-sm chat-input" placeholder="Confirm password" />
                    </div>
                    <div id="bnkdetails" style="display: none;">
                        <h4>Bank details</h4>
                        <div class="form-group">
                            <label for="Rbankname">Bank account holder name</label>
                            <input id="Rbankname" class="form-control input-sm chat-input" name="acc_name" placeholder="Enter account holder name" />
                        </div>
                        <div class="form-group">
                            <label for="Rbanknumber">Bank account number</label>
                            <input id="Rbanknumber" class="form-control input-sm chat-input" name="acc_no" placeholder="Enter account number" />
                        </div>
                        <div class="form-group">
                            <label for="Raccountifsc">Bank account IFSC number</label>
                            <input id="Raccountifsc" class="form-control input-sm chat-input" name="acc_ifsc" placeholder="Enter account IFSC number" />
                        </div>
                    </div>
                    <div class="wrapper">
                        <span class="group-btn">
                            <br>     
                            <button type="submit"  class="btn btn-md" style="background-color: #00796b; color: white;" onclick="return signup_validate()"id='btn' >Sign in</button>
                        </span><br>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-2"></div>
    </div>
</div>
<script>
    // hide signup form content based on user type
    function usertypehide() {
        usrtype = document.getElementById("usrtyp");
        resellerdata = document.getElementById("resel");
        bankdetails = document.getElementById("bnkdetails");
        customerdata = document.getElementById("custom");
        if (usrtype.value == "reseller") {
            resellerdata.style.display = "block";
            bankdetails.style.display = "block"
            customerdata.style.display = "none";
        } else {
            resellerdata.style.display = "none";
            bankdetails.style.display = "none"
            customerdata.style.display = "block";
        }

    }


    $("#userEmail").change(function () {
        
        $.ajax({
          url: "check_avilable/",
          type: "GET",
          data: {
            email: $("#userEmail").val(),
            
          },
          success: function (response) {
            if (response.isAvailable == true) {
              $("#btn").attr({ "disabled": true })
              $("#userEmail").css({ "border-color": "red" })
              $('#s_email').html("email already exist")
              $("#s_email").css({ "color": "red" })
            }
            else {
              $("#userEmail").css({ "border-color": "green" })
              $("#btn").attr({ "disabled": false })
              $('#s_email').html("email available")
              $("#s_email").css({ "color": "green" })
            }
    
    
          }
    
        })
    })
    

//     $('btn').click(function(){
//         var msgBox=document.$('#msg')
//  // msgBox.setAttribute('style','visibility:visible')
//  msgBox.innerHTML="Thanks for your rating";
//  setTimeout(() => {
   
//  //  msgBox.setAttribute('style','visibility:hidden')
//   msgBox.innerHTML="";
//  }, 2000);
//     })

</script>
{% endblock %}